In [5]:
import os
import pandas as pd
path = "/home/chowder/Documents/personalData/polarFlow/individualSessions/"
dir_list = os.listdir(path)

# load the df
rawDf = pd.read_csv(path + dir_list[0])
rawDf

,Name,Sport,Date,Start time,Duration,Total distance (km),Average heart rate (bpm),Average speed (km/h),Max speed (km/h),Average pace (min/km),...,Descent (m),Average power (W),Max power (W),Notes,Height (cm),Weight (kg),HR max,HR sit,VO2max,Unnamed: 27
0,Abhik Chowdhury,RUNNING,30-07-2024,12:33:15,00:39:32,0.00,151,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,175.0,59.0,NaN,NaN,61.0,NaN
1,Sample rate,Time,HR (bpm),Speed (km/h),Pace (min/km),Cadence,Altitude (m),Stride length (m),Distances (m),Temperatures (C),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,00:00:00,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,00:00:01,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,00:00:02,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2369,NaN,00:39:27,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2370,NaN,00:39:28,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2371,NaN,00:39:29,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2372,NaN,00:39:30,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2373,NaN,00:39:31,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
startDT = pd.to_datetime(" ".join([rawDf["Date"].loc[0], rawDf["Start time"].loc[0]]))

In [38]:
times = startDT + pd.to_timedelta(rawDf["Sport"].loc[2:]).values
times

array(['2024-07-30T12:33:15.000000000', '2024-07-30T12:33:16.000000000',
       '2024-07-30T12:33:17.000000000', ...,
       '2024-07-30T13:12:44.000000000', '2024-07-30T13:12:45.000000000',
       '2024-07-30T13:12:46.000000000'], dtype='datetime64[ns]')

In [24]:
len(times.values)

2372

In [34]:
hrs = rawDf["Date"].loc[2:].apply(int).values
hrs[0]

73

In [40]:
columnNames = ["sampleDT", "value"]

startDT = pd.to_datetime(" ".join([rawDf["Date"].loc[0], rawDf["Start time"].loc[0]]))
times = startDT + pd.to_timedelta(rawDf["Sport"].loc[2:]).values
hrs = rawDf["Date"].loc[2:].apply(int).values

samplesList = [[times[i], hrs[i]] for i in range(len(times))]

dataDf = pd.DataFrame(data=samplesList, columns=columnNames)
dataDf = dataDf.set_index("sampleDT")
dataDf

                     value
sampleDT
2024-07-30 12:33:15     73
2024-07-30 12:33:16     73
2024-07-30 12:33:17     73
2024-07-30 12:33:18     73
2024-07-30 12:33:19     73
...                    ...
2024-07-30 13:12:42    118
2024-07-30 13:12:43    119
2024-07-30 13:12:44    119
2024-07-30 13:12:45    119
2024-07-30 13:12:46    119

[2372 rows x 1 columns]