In [21]:
import pandas as pd
import datetime
import os
import pytz
import json
print(pd.__version__)
utc = pytz.utc

columnNames = ["sampleDT", "value"]

path = "/home/chowder/Documents/personalData/ouraRing/"
jsonFileName = "oura_2021-01-16T02-12-49.json"

parquetName = "ouraRingHrDf.parquet.gzip"

with open(path + jsonFileName) as f:
  jsonData = json.load(f)

1.1.2

In [12]:
samplesList = []

for SleepJSON in jsonData['sleep']:
    startTime = pd.to_datetime(SleepJSON['bedtime_start'])
    sampleStartTime = startTime

    hr_5min = SleepJSON['hr_5min']

    for i in range(0, len(hr_5min)):
        toadd = []
        toadd.append(startTime+ datetime.timedelta(minutes=i*5))
        toadd.append(int(hr_5min[i]))
        samplesList.append(toadd)

In [13]:
len(samplesList)

8144

In [16]:
ouraHRdf = pd.DataFrame(data=samplesList, columns=columnNames)

ouraHRdf = ouraHRdf.set_index("sampleDT")

In [17]:
ouraHRdf

                           value
sampleDT
2020-10-15 01:03:59-07:00     56
2020-10-15 01:08:59-07:00     55
2020-10-15 01:13:59-07:00     54
2020-10-15 01:18:59-07:00     55
2020-10-15 01:23:59-07:00     55
...                          ...
2021-01-15 08:36:19-07:00     59
2021-01-15 08:41:19-07:00     57
2021-01-15 08:46:19-07:00     57
2021-01-15 08:51:19-07:00     59
2021-01-15 08:56:19-07:00      0

[8144 rows x 1 columns]

In [22]:
ouraHRdf.to_parquet(path + parquetName,
              compression='gzip')