In [ ]:
# to get your whoop data go to https://privacy.whoop.com/policies/en-US/
# wait a few weeks
# end up contancting customer support and have them resolve it

In [1]:
import os
# Get the list of all files and directories
path = "/home/chowder/Documents/personalData/Whoop/WHOOP Production-export/Health"
dir_list = os.listdir(path)

In [2]:
hrFilenames = [x for x in dir_list if x[0:6] == "metric"]
hrFilenames[0]

'metrics (30).csv'

In [14]:
import pandas as pd

empty_datetime_index = pd.DatetimeIndex([], tz='UTC')

whoopHRs = pd.Series([], index=empty_datetime_index, name='hr')

/tmp/ipykernel_2767644/1508130766.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  whoopHRs = pd.Series([], index=empty_datetime_index, name='hr')

In [4]:
hrf = hrFilenames[0]
filePath = path + "/" + hrf
print(filePath)
dfToadd = pd.read_csv(filePath, parse_dates=["ts"])
dfToadd = dfToadd.set_index("ts")

/home/chowder/Documents/personalData/Whoop/WHOOP Production-export/Health/metrics (30).csv

In [5]:
dfToadd.dtypes

hr                    int64
accel_x             float64
accel_y             float64
accel_z             float64
skin_temp             int64
parsed_skin_temp    float64
dtype: object

In [7]:
whoopHRdf = pd.concat([whoopHRdf, dfToadd[["hr"]]])
whoopHRdf

                                   hr
ts
2023-11-23 00:00:00.750000+00:00   79
2023-11-23 00:01:01.312000+00:00   91
2023-11-23 00:02:01.874000+00:00  105
2023-11-23 00:03:02.436000+00:00   99
2023-11-23 00:04:02.999000+00:00  100
...                               ...
2023-12-12 23:55:19.858000+00:00   70
2023-12-12 23:56:20.420000+00:00   68
2023-12-12 23:57:20.983000+00:00   68
2023-12-12 23:58:21.545000+00:00   75
2023-12-12 23:59:22.107000+00:00   72

[28126 rows x 1 columns]

In [15]:


for hrf in hrFilenames:
    print(hrf)
    dfToadd = pd.read_csv(path + "/" + hrf, parse_dates=["ts"])
    dfToadd = dfToadd.set_index("ts")
    whoopHRs = pd.concat([whoopHRs, dfToadd["hr"]])

metrics (30).csv
metrics (36).csv
metrics (28).csv
metrics (9).csv
metrics (16).csv
metrics (7).csv
metrics (22).csv
metrics (11).csv
metrics (27).csv
metrics (1).csv
metrics (15).csv
metrics (34).csv
metrics (13).csv
metrics (18).csv
metrics (37).csv
metrics (14).csv
metrics (29).csv
metrics (21).csv
metrics (17).csv
metrics (10).csv
metrics (19).csv
metrics (33).csv
metrics (38).csv
metrics (35).csv
metrics (2).csv
metrics (4).csv
metrics (31).csv
metrics (24).csv
metrics (12).csv
metrics (6).csv
metrics (25).csv
metrics (32).csv
metrics.csv
metrics (3).csv
metrics (8).csv
metrics (5).csv
metrics (23).csv
metrics (26).csv
metrics (20).csv

In [10]:
whoopHRdf.index

DatetimeIndex(['2023-11-23 00:00:00.750000+00:00',
               '2023-11-23 00:01:01.312000+00:00',
               '2023-11-23 00:02:01.874000+00:00',
               '2023-11-23 00:03:02.436000+00:00',
               '2023-11-23 00:04:02.999000+00:00',
               '2023-11-23 00:05:03.561000+00:00',
               '2023-11-23 00:06:04.123000+00:00',
               '2023-11-23 00:07:04.685000+00:00',
               '2023-11-23 00:08:05.248000+00:00',
               '2023-11-23 00:09:05.810000+00:00',
               ...
               '2023-05-27 23:50:32.696000+00:00',
               '2023-05-27 23:51:33.258000+00:00',
               '2023-05-27 23:52:33.820000+00:00',
               '2023-05-27 23:53:34.382000+00:00',
               '2023-05-27 23:54:34.945000+00:00',
               '2023-05-27 23:55:35.507000+00:00',
               '2023-05-27 23:56:36.069000+00:00',
               '2023-05-27 23:57:36.631000+00:00',
               '2023-05-27 23:58:37.194000+00:00',
               '2023-05-27 23:59:37.756000+00:00'],
              dtype='datetime64[ns, UTC]', name='ts', length=1046488, freq=None)

In [11]:
whoopHRdf = whoopHRdf[~whoopHRdf.index.duplicated(keep="first")]

In [12]:
whoopHRdf["hr"]

                                      0   hr
ts
2023-11-23 00:00:00.750000+00:00   79.0  NaN
2023-11-23 00:01:01.312000+00:00   91.0  NaN
2023-11-23 00:02:01.874000+00:00  105.0  NaN
2023-11-23 00:03:02.436000+00:00   99.0  NaN
2023-11-23 00:04:02.999000+00:00  100.0  NaN
...                                 ...  ...
2023-05-27 23:55:35.507000+00:00   91.0  NaN
2023-05-27 23:56:36.069000+00:00   92.0  NaN
2023-05-27 23:57:36.631000+00:00  102.0  NaN
2023-05-27 23:58:37.194000+00:00   94.0  NaN
2023-05-27 23:59:37.756000+00:00   95.0  NaN

[1045319 rows x 2 columns]

In [16]:
whoopHRs

2023-11-23 00:00:00.750000+00:00     79
2023-11-23 00:01:01.312000+00:00     91
2023-11-23 00:02:01.874000+00:00    105
2023-11-23 00:03:02.436000+00:00     99
2023-11-23 00:04:02.999000+00:00    100
                                   ...
2023-05-27 23:55:35.507000+00:00     91
2023-05-27 23:56:36.069000+00:00     92
2023-05-27 23:57:36.631000+00:00    102
2023-05-27 23:58:37.194000+00:00     94
2023-05-27 23:59:37.756000+00:00     95
Name: hr, Length: 1046488, dtype: int64

In [18]:
whoopHRs = whoopHRs[~whoopHRs.index.duplicated(keep="first")]
whoopHRs

2023-11-23 00:00:00.750000+00:00     79
2023-11-23 00:01:01.312000+00:00     91
2023-11-23 00:02:01.874000+00:00    105
2023-11-23 00:03:02.436000+00:00     99
2023-11-23 00:04:02.999000+00:00    100
                                   ...
2023-05-27 23:55:35.507000+00:00     91
2023-05-27 23:56:36.069000+00:00     92
2023-05-27 23:57:36.631000+00:00    102
2023-05-27 23:58:37.194000+00:00     94
2023-05-27 23:59:37.756000+00:00     95
Name: hr, Length: 1045319, dtype: int64

In [20]:
whoopHRdf = pd.DataFrame(whoopHRs)

In [21]:
whoopHRdf.to_parquet('whoopHRdf.parquet.gzip',
              compression='gzip')

In [22]:
whoopHRdf = pd.read_parquet('whoopHRdf.parquet.gzip')

In [105]:
tss = whoopHRdf.ts.value_counts().iloc[0:1000]

In [71]:
whoopHRdf

                                    ts   hr
0     2023-11-23 00:00:00.750000+00:00   79
1     2023-11-23 00:01:01.312000+00:00   91
2     2023-11-23 00:02:01.874000+00:00  105
3     2023-11-23 00:03:02.436000+00:00   99
4     2023-11-23 00:04:02.999000+00:00  100
...                                ...  ...
26000 2023-05-27 23:55:35.507000+00:00   91
26001 2023-05-27 23:56:36.069000+00:00   92
26002 2023-05-27 23:57:36.631000+00:00  102
26003 2023-05-27 23:58:37.194000+00:00   94
26004 2023-05-27 23:59:37.756000+00:00   95

[1046488 rows x 2 columns]